# Ignorar arquivo de configuração com credenciais
config.py
.env

# Ignorar arquivos compilados Python
*.pyc

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos temporários
*.tmp

# Ignorar arquivos de log e cache
*.log
*.cache

# Ignorar arquivos de musicas transferidas
*.mp3
*.mp4
*.webm

#ignorar configuração vercel
.vercel

