# Ignorar arquivo de configuração com credenciais
config.py
.env

# Ignorar arquivos compilados Python
*.pyc

# Ignorar diretório de ambiente virtual (n necessario)
venv/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos temporários
*.tmp

# Ignorar arquivos de log
*.log

# Ignorar arquivos transferidos
*.mp3
*.mp4
*.webm


